body {
    display: flex;
    justify-content: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

.aiText {
    width: 400px;
    height: 150px;
}